micronaut:
  application:
    name: prices-java-api

  server:
    max-request-size: 100MB
    multipart:
      max-file-size: 100MB

  security:
    authentication: bearer
    intercept-url-map:
      - pattern: /api/auth/login
        http-method: POST
        access:
          - isAnonymous()
      - pattern: /api/auth/register
        http-method: POST
        access:
          - isAnonymous()
      - pattern: /api/auth/me
        http-method: GET
        access:
          - isAuthenticated()
    token:
      jwt:
        enabled: true
        signatures:
          secret:
            generator:
              secret: "${JWT_SECRET:prices-deployment-api-jwt-secret-key-minimum-256-bits-required-for-hs256-algorithm}"

netty:
  default:
    allocator:
      max-order: 3

datasources:
  default:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:prices_deployment}
    username: ${DB_USER:prices}
    password: ${DB_PASSWORD:prices123}
    driverClassName: org.postgresql.Driver

jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true

database:
  external:
    host: ${DB_DEPLOYER_HOST:10.119.106.82}
    port: ${DB_DEPLOYER_PORT:5432}
    deployer-user: ${DB_DEPLOYER_USER:prices}
    deployer-password: ${DB_DEPLOYER_PASSWORD:prices123}
